<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
 
    <link rel="stylesheet" href="/css/new.css" th:href="@{/css/new.css}">
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



  </head>
  <body>

  
  <main class="form-signin w-100 m-auto">
  <form method="post" th:action="@{/user}" th:object="${form}">
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" th:field="*{name}" id="user_name" placeholder="Account Name">
      <label for="user_name">Account Name</label>
      <p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" th:field="*{password}" id="user_password" placeholder="Password">
      <label for="user_password">Password</label>
      <p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" th:field="*{passwordConfirmation}" id="user_password_confirmation" placeholder="Password">
      <label for="user_password_confirmation">Password confirmation</label>
      <p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
 
  </form>
</main>

  </body>
</html>