  <!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
    <title>originalapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/analysistool.css" th:href="@{/css/analysistool.css}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body class="text-center">
    <div id="loader-bg">
	  <div id="loader">
	    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" alt="Now Loading..."></i>
	    <p>Now Loading...</p>
	</div>
    </div>
    <div class="header"></div>
    <div class="wrapper" id="wrap">
      <div class="navigation active">
      
        <ul>
          <li class="menue_list">
            <a href="/">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">Home</span>
            </a>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
              <span class="title">Account</span>
            </a>
            <ul class="dropdown__lists">
              <li class="dropdown__list"><a　href="#" id=""></a></li>
              <li class="dropdown__list"><a　href="#" id=""></a></li>
              <li class="dropdown__list"><a　href="#" id=""></a></li>
            </ul>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
              <span class="title">Calender</span>
            </a>
            <ul class="dropdown__lists">
              <li class="dropdown__list"><a　href="#" id=""></a></li>
              <li class="dropdown__list"><a　href="#" id=""></a></li>
              <li class="dropdown__list"><a　href="#" id=""></a></li>
            </ul>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="reader-outline"></ion-icon></span>
              <span class="title">Date List</span>
           </a>
           <ul class="dropdown__lists">
              <li class="dropdown__list"><a　href="#" id="dateList_month"></a>月間</li>
              <li class="dropdown__list"><a　href="#" id="dateList_year"></a>年間</li>
              <li class="dropdown__list"><a　href="#" id="dateList_all"></a>全体</li>
            </ul>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
              <span class="title">Bar Chart</span>
            </a>
            <ul class="dropdown__lists">
              <li class="dropdown__list"><a　href="#" id="barchart_currency"></a>通貨別</li>
              <li class="dropdown__list"><a　href="#" id="barchart_week"></a>曜日別</li>
              <li class="dropdown__list"><a　href="#" id="barchart_time"></a>時間別</li>
            </ul>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="pulse-outline"></ion-icon></span>
              <span class="title">Line Chart</span>
            </a>
            <ul class="dropdown__lists">
              <li class="dropdown__list"><a　href="#" id="linechart_month"></a>月間</li>
              <li class="dropdown__list"><a　href="#" id="linechart_year"></a>年間</li>
              <li class="dropdown__list"><a　href="#" id="linechart_all">全体</a></li>
            </ul>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="pie-chart-outline"></ion-icon></span>
              <span class="title">Pie Chart</span>
            </a>
            <ul class="dropdown__lists">           
              <li class="dropdown__list"><a　href="#" id="piechart_month">月別</a></li>
              <li class="dropdown__list"><a　href="#" id="piechart_year">年別</a></li>
              <li class="dropdown__list"><a　href="#" id="piechart_all">全体</a></li>
            </ul>
          </li>
          <li class="menue_list">
            <a href="#"  data-micromodal-trigger="acquireData">
              <span class="icon"><ion-icon name="arrow-redo-outline"></ion-icon></span>
              <span class="title">Acquire Data</span>
            </a>
          </li>
            <div class="modal" id="acquireData" aria-hidden="true">
		      <div class="modal-overlay" data-micromodal-close>
		        <div class="modal-container">
		          <h2 class="modal-title">期間指定</h2>
		          <div class="modal-content">
		            <p>
		            　　<form class="" method="post" th:action="@{/selenium}">
		            	<div class="form-floating">
		            	  <input type="text" class="form-control rounded-3" name="start_month" id="start_month" placeholder="start_month">
		            	  <label for="start_month">startMonth</label>
		          		</div>		
		            	<div class="form-floating">
		            	  <input type="text" class="form-control rounded-3" name="end_month" id="end_month" placeholder="end_month">
		            	  <label for="end_month">endMonth</label>
		          		</div>	          
			            <button class="button-detail" type="submit" id="button">
			              get
			            </button>
		              </form>
		            </p>
		          </div>
		          <div class="modal-footer">
		            <button class="button-close" data-micromodal-close>
		              close
		            </button>
		          </div>
		        </div>
		      </div>
		    </div>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
              <span class="title">Setting</span>
            </a>
          </li>
          <li class="menue_list">
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sing Out</span>
            </a>
          </li>
        </ul>
      </div>

      <main>
        <div class="container">
          <div class="row">
		    <div class="col-md-4" id="pieChartMonth">
			   <a href="#" id="closeButton_pieChartMonth">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myPieChartMonth"></canvas>
			</div>
		    <div class="col-md-4" id="pieChartYear">
			   <a href="#" id="closeButton_pieChartYear">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myPieChartYear"></canvas>
			</div>
		    <div class="col-md-4" id="pieChartAll">
			   <a href="#" id="closeButton_pieChartAll">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myPieChartAll"></canvas>
			</div>
		  </div>

          
		  <div class="row">
          	<div class="col-md-8" id="lineChartMonth">
			   <a href="#" id="closeButton_lineChartMonth">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myLineChartMonth"></canvas>
		    </div>
		    <div class="col-md-8" id="lineChartYear">
			   <a href="#" id="closeButton_lineChartYear">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myLineChartYear"></canvas>
		    </div>
		    <div class="col-md-8" id="lineChartAll">
			   <a href="#" id="closeButton_lineChartAll">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myLineChartAll"></canvas>
		    </div>
		  
		    
		    
          
          	<div class="col-md-8" id="barChartCurrency">
			   <a href="#" id="closeButton_barChartCurrency">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myBarChartCurrency"></canvas>
		    </div>
		    <div class="col-md-8" id="barChartWeek">
			   <a href="#" id="closeButton_barChartWeek">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myBarChartWeek"></canvas>
		    </div>
		    <div class="col-md-8" id="barChartTime">
			   <a href="#" id="closeButton_barChartTime">
			     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
  				   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                 </svg>
			   </a>
		      <canvas id="myBarChartTime"></canvas>
		    </div>
          </div>
          
		  <div class="row">
			<!-- 取引データ一覧表 -->
			<div class="tableChart col-md-12" id="tableChart">
				<table>
				  <thead>
				    <tr>
				    　　<th scope="col">新規約定日付</th>
				    　　<th scope="col">新規約定時間</th>
				      <th scope="col">通貨ペア</th>
				      <th scope="col">ポジション</th>
				      <th scope="col">取引量(万通貨)</th>
				      <th scope="col">レート</th>
				      <th scope="col">決済日付</th>
				    　　<th scope="col">決済時間</th>
				      <th scope="col">レート</th>
				      <th scope="col">損益(pips)</th>
				      <th scope="col">損益(円)</th>
				      <th scope="col">損益(%)</th>
				      <th scope="col">スワップ</th>
				      <th scope="col">最終損益(円)</th>
				      <th scope="col">最大評価益</th>
				      <th scope="col">最大評価損</th>
				      <th scope="col">チャート画像</th>
				    </tr>
				  </thead>
				  <tbody>
				   　<tr th:each="transactionData: ${TransactionDatas}">
				      <td data-label="新規約定日付" th:text="${transactionData.transactionNewDate}"></td>
				      <td data-label="新規約定時間" th:text="${transactionData.transactionNewTime}"></td>
				      <td data-label="通貨ペア" th:text="${transactionData.currencyPair}"></td>
				      <td data-label="ポジション" th:text="${transactionData.transactionType}"></td>
				      <td data-label="取引量(万通貨)" th:text="${transactionData.transactionLot}"></td>
				      <td data-label="レート" th:text="${transactionData.rateNew}"></td>
				      <td data-label="決済日付" th:text="${transactionData.transactionSettlementDate}"></td>
				      <td data-label="決済時間" th:text="${transactionData.transactionSettlementTime}"></td>
				      <td data-label="レート" th:text="${transactionData.rateSettlement}"></td>
				      <td data-label="損益(pips)" th:text="${transactionData.rateDifference}"></td>
				      <td data-label="損益(円)" th:text="${transactionData.profitLoss}"></td>
				      <td data-label="損益(%)" th:text="${transactionData.profitlossParseint}"></td>
				      <td data-label="スワップ" th:text="${transactionData.swap}"></td>
				      <td data-label="最終損益(円)" th:text="${transactionData.profitLossConfirm}"></td>
				      <td data-label="最大評価益" ></td>
				      <td data-label="最大評価損" ></td>
				      <td data-label="チャート画像"></td>
				   　</tr>
				  </tbody>
				</table>
			</div>   
          </div>
		  
        </div>
      </main>   
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
      var win = /*[[${win}]]*/ 'default';
      var lose = /*[[${lose}]]*/ 'default';
      var draw = /*[[${draw}]]*/ 'default';

      /*]]>*/
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
	<script src="/scripts/script.js" th:src="@{/scripts/script.js}"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
	<script src="/scripts/analysistool.js" th:src="@{/scripts/analysistool.js}"></script>
	
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3.3.1/dist/sticky-sidebar.min.js"></script>

	<script>
	  MicroModal.init();
	</script>
	<script>
      $(function(){
         convertMethod('.convert');
          $(".alert").fadeOut(5000);
      });
	</script>
	<script>
	function clickEvent() {
	var result = confirm('ログアウトしますか？');
	 
	if( result ) {
	    alert('ログアウトしました');
	}
	else {
		alert('ログインできませんでした');
	}
	}
	</script>
  </body>
</html>