<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
    <title>originalapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/css/modal.css" th:href="@{/css/modal.css}">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
  </head>
  <body class="text-center">
    <main>
    <!-- 
	Please note, that you can apply .m--global-blending-active to .fnc-slider 
	to enable blend-mode for all background-images or apply .m--blend-bg-active
	to some specific slides (.fnc-slide). It's disabled by default in this demo,
	because it requires specific images, where more than 50% of bg is transparent or monotone
	-->
	<div class="demo-cont">
	  <!-- slider start -->
	  <div class="fnc-slider example-slider">
	    <div class="fnc-slider__slides">
	      <!-- slide start -->
	      <div class="fnc-slide m--blend-green m--active-slide">
	        <div class="fnc-slide__inner">
	          <div class="fnc-slide__mask">
	            <div class="fnc-slide__mask-inner"></div>
	          </div>
	          <div class="fnc-slide__content">
	            <h2 class="fnc-slide__heading">
	              <div class="fnc-slide__heading-line">
	                <span>Analysis</span>
	              </div>
	              <div class="fnc-slide__heading-line">
	                <span>Tool</span>
	              </div>
	            </h2>
	          </div>
	        </div>
	      </div>
	      <!-- slide end -->
	      <!-- slide start -->
	      <div class="fnc-slide m--blend-dark">
	        <div class="fnc-slide__inner">
	          <div class="fnc-slide__mask">
	            <div class="fnc-slide__mask-inner"></div>
	          </div>
	          <div class="fnc-slide__content">
	            <h2 class="fnc-slide__heading">
	              <div class="fnc-slide__heading-line">
	                <span>Automatic</span>
	              </div>
	              <div class="fnc-slide__heading-line">
	                <span>Trading</span>
	              </div>
	            </h2>
	          </div>
	        </div>
	      </div>
	      <!-- slide end -->
	      <!-- slide start -->
	      <div class="fnc-slide m--blend-red">
	        <div class="fnc-slide__inner">
	          <div class="fnc-slide__mask">
	            <div class="fnc-slide__mask-inner"></div>
	          </div>
	          <div class="fnc-slide__content">
	            <h2 class="fnc-slide__heading">
	              <div class="fnc-slide__heading-line">
	                <span>Trade</span>
	              </div>
	              <div class="fnc-slide__heading-line">
	                <span>Tool</span>
	              </div>
	            </h2>
	          </div>
	        </div>
	      </div>
	      <!-- slide end -->
	      <!-- slide start -->
	      <div class="fnc-slide m--blend-blue">
	        <div class="fnc-slide__inner">
	          <div class="fnc-slide__mask">
	            <div class="fnc-slide__mask-inner"></div>
	          </div>
	          <div class="fnc-slide__content">
	            <h2 class="fnc-slide__heading">
	              <div class="fnc-slide__heading-line">
	                <span>Account</span>
	              </div>
	            </h2>
	          </div>
	        </div>
	      </div>
	      <!-- slide end -->
	    </div>
	    <nav class="fnc-nav">
	      <div class="fnc-nav__bgs">
	        <div class="fnc-nav__bg m--navbg-green m--active-nav-bg"></div>
	        <div class="fnc-nav__bg m--navbg-dark"></div>
	        <div class="fnc-nav__bg m--navbg-red"></div>
	        <div class="fnc-nav__bg m--navbg-blue"></div>
	      </div>
	      <div class="fnc-nav__controls">
	        <button class="fnc-nav__control">         
			  Analysis Tool
	          <span class="fnc-nav__control-progress"></span>
	        </button>
	        <button class="fnc-nav__control">
	          Automatic Trading
	          <span class="fnc-nav__control-progress"></span>
	        </button>
	        <button class="fnc-nav__control">
	          Trade Tool
	          <span class="fnc-nav__control-progress"></span>
	        </button>
	        <button type="button" class="fnc-nav__control fnc-slide__action-btn">
	          Account
	          <span data-text="Account" class="fnc-nav__control-progress">Account</span>
	        </button>
	      </div>
	    </nav>
	  </div>
	  <!-- slider end -->
	  <div class="demo-cont__credits">
	    <div class="demo-cont__credits-close"></div>
	    <h2 class="demo-cont__credits-heading">Account</h2>
	    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="demo-cont__credits-img" />
	    <h3 class="demo-cont__credits-name">Sing In</h3>
	    <a href="#" data-micromodal-trigger="modal-login"  class="demo-cont__credits-link">Log In</a>
	    <a href="#"  class="demo-cont__credits-link">Log Out</a>
	    <h2 class="demo-cont__credits-heading">Sing Up</h2>
	    <a href="/users/new" data-micromodal-trigger="modal-singup" class="demo-cont__credits-link" th:action="@{/users/new}">New Create</a>
	  </div>
	</div>
	<div th:include="~{sessions/login::modal-login}"></div>
	<!-- div th:include="~{sessions/new::modal-signup}"></div -->
<!-- 
	  <div class="modal modal-dialog" tabindex="-1" role="dialog" id="modal-login" aria-hidden="true">
		<div class="modal-overlay" data-micromodal-close>
  		  <div class="modal-dialog" role="document">
    		<div class="modal-content rounded-4 shadow ">
      		  <div class="modal-header p-5 pb-4 border-bottom-0">
        		<h2 class="fw-bold mb-0">Sign up for free</h2>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-micromodal-close></button>
      		  </div>
			  <div class="modal-body p-5 pt-0">
         		<form class="" method="post" th:action="@{/home}">
          		<div class="form-floating mb-3">
            	  <input type="text" class="form-control rounded-3" id="session_name" placeholder="Account Name">
            	  <label for="session_name">Account Name</label>
           		</div>
          		<div class="form-floating mb-3">
            	  <input type="password" class="form-control rounded-3" id="session_password" placeholder="Password">
            	  <label for="session_password">Password</label>
          		</div>
              	<div class="checkbox mb-3">
      			  <label>
        		  <input type="checkbox" value="remember-me"> Remember me
      			  </label>
    			</div>
          		<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          		<small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          		<hr class="my-4">
          		<h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          		<button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
	              <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
	              Sign up with Twitter
          		</button>
          		<button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
            	  <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
            	  Sign up with Facebook
          		</button>
          		<button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            	  <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
            	  Sign up with GitHub
          		</button>
        	  </form>
      		</div>
    	  </div>
  		</div>
	  </div>
    </div>
     -->
    <!--
    <div class="modal modal-dialog" tabindex="-1" role="dialog" id="modal-singup" aria-hidden="true">
		<div class="modal-overlay" data-micromodal-close>
  		  <div class="modal-dialog" role="document">
    		<div class="modal-content rounded-4 shadow ">
      		  <div class="modal-header p-5 pb-4 border-bottom-0">
        		<h2 class="fw-bold mb-0">Sign up</h2>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-micromodal-close></button>
      		  </div>
			  <div class="modal-body p-5 pt-0">
         		<form class="" method="post" th:action="@{/user}" th:object="${form}">
         		<div layout:replace="~{layouts/common::messages}"></div>
          		<div class="form-floating mb-3">
          		  <label for="user_name">Account Name</label>
            	  <input type="text" class="form-control rounded-3" th:field="*{name}" id="user_name" placeholder="Account Name">
            	  <p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
           		</div>
          		<div class="form-floating mb-3">
          		  <label for="user_password">Password</label>
            	  <input type="password" class="form-control rounded-3" th:field="*{password}" id="user_password" placeholder="Password">
            	  <p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
          		</div>
          		<div class="form-floating mb-3">
          		  <label for="user_password_confirmation">Password confirmation</label>
            	  <input type="password" class="form-control rounded-3" th:field="*{passwordConfirmation}" id="user_password_confirmation" placeholder="Password">
            	  <p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
          		</div>
          		<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
        	  </form>
      		</div>
    	  </div>
  		</div>
	  </div>
    </div>
      -->
  </main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
	<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/scripts/script.js" th:src="@{/scripts/script.js}"></script>
	<script>
	  MicroModal.init();
	</script>
	<script>
      $(function(){
         convertMethod('.convert');
          $(".alert").fadeOut(5000);
      });
	</script>
  </body>
</html>