* {
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-overlay {
  align-items: center;
  background-color: rgba(10, 10, 10, 0.5);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 200ms linear;
}

.modal-dialog {
  width: 380px;
}

.modal-container {
  background-color: #fff;
  border-radius: 6px;
  min-width: 300px;
  max-height: 90vh;
  padding: 1.5rem;
  transform: translateY(24px);
  transition: transform 300ms ease-in-out;
  width: 90%;
}

.modal-title {
  border-bottom: 2px solid #dedede;
  color: #00449e;
  font-size: 1.25rem;
  margin: 0 0 1.5rem 0;
  padding-bottom: 0.5rem;
}

.modal-footer {
  margin-top: 1.5rem;
  text-align: right;
}

.button-detail{
  background-color: #71c9ce;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding: 0.75rem 1rem;
}

.button-close{
  background-color: #ce9571;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding: 0.75rem 1rem;
}

.modal-tour .modal-dialog {
  width: 600px;
}

/* アニメーション */

.modal[aria-hidden="false"] .modal-overlay {
  animation: fadeIn 300ms ease-in-out forwards;
}

.modal[aria-hidden="false"] .modal-container {
  animation: slideIn 300ms ease-in-out forwards;
}

.modal[aria-hidden="true"] .modal-overlay {
  animation: fadeOut 300ms ease-in-out forwards;
}

.modal[aria-hidden="true"] .modal-container {
  animation: slideOut 300ms ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateY(24px); }
  to { transform: translateY(0); }
}

@keyframes slideOut {
  from { transform: translateY(0); }
  to { transform: translateY(24px); }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);